<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The EventHub</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h2 class="name">The EventHub</h2>
        </div>
        <div class="btns">
            <div class="login">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <% if(user){ %>
            <span class="text"><%= user.username %></span>
            <% } %>

            </div>
            <button class="btn home" onclick="window.location.href='/'">Home</button>
            <button class="btn events" onclick="window.location.href='/admin/events'">Events</button>
            <button class="btn Dashboard" onclick="window.location.href='/admin/dashboard'">Dashboard</button>
            <!-- <button class="btn users">Users</button> -->
            <button class="btn lg" onclick="window.location.href='/logout'">Log out</button>
        </div>
    </div>
    <div class="description">
        <br><br><br><br><br><br><br>
        <h1 class="Welcome">Welcome To The EventHub</h1>
        <h3 class="tagline">Your one-stop platform to explore, book, and manage events with ease.</h3>
    </div>
    <br>
    <div class="main">
        <h2 class="upcoming" >Upcoming Events</h2>
      <%  for(event of events){ %>
        
        <div class="Eventcard">
            <h3> <%= event.name %> </h3><br>
            <p>Date: <%= event.date.toISOString().split('T')[0] %> </p>
            <p>Location: <%= event.location %> </p><br>
            <p>Price(including GST): Rs <%= event.price %> </p><br>
            <form action="/book/<%=event.id%>" method="get">
                <button class="book">Book Now</button>
            </form>
        </div>

        <%}%> 
    </div>

    <h2 class="heading3">Manage Events</h2>
    <div class="schedule">
            <button class="add" onclick="window.location.href='/addEvent'" >Schedule an Event</button>
            <button class="delete" onclick="window.location.href='/delete'" >Delete Event</button>
            <!-- <button class="edit" onclick="window.location.href='/selectevent'">Edit Event</button> -->
    </div>
    <br>
</body>
<footer>
    <p>© 2025 The EventHub | All rights reserved.</p>
</footer>
</html>